

<!-- <section class="user-songs" id="search-wrapper">
	<h1>Search!</h1>
	<input type="text" class="query" value="<%= collection._query %>">
	<input type="submit" class="search-button">
	<ul class="search-results">
		<h3 class="results-header">Results: </h3>
	</ul>
</section> -->

		<section class="search">
			<div class="cmt-sbmt-wrapper" id="search-bar">
					<!-- <img src="images/img1.jpg"> -->
					<div class="cmt-sbmt">
						<input class="cmt-text" type="text" id="query" value="<%= collection._query %>" placeholder="Search for songs by Title, Artist, or Album">
						<!-- <div id="special"></div> -->
					</div>
					<div class="sbmt-btn" id="search-btn">
						<i class="fa fa-search"></i>
					</div>
				</div>

			<div class="search-wrapper">
						<h1 class="cmt-header" id="results-header"><i class="fa fa-music"></i> Results (<%= collection.length %>) for "<%= searchQuery %>"</h1>
						<ul class="cmts-display" id="search-results">

						</ul>
			</div>
		</section>


		<h1 class="explr-header">Explore the community!</h1>

		<section class="show-content group">
			<section class="content-lt" id="search-content-lt">

					<div class="cmts-wrapper" id="all-songs">
						<h1 class="cmt-header"><i class="fa fa-music"></i> Songs (<%= Songstorm.songs.length %>)<span class="wgt-btn" id="play-all"><i class="fa fa-music"></i>  Listen to all</span></h1>
						<ul class="cmts-display" id="all-songs-list">

						</ul>
					</div>

			</section>

			<section class="content-rt" id="all-users">

				<div class="plst-wrapper">
					<p id="all-users-header"><i class="fa fa-user"></i> Users (<%= Songstorm.users.length %>)</p>
					<ul class="in-plst" id="all-users-list">
						
					</ul>
				</div>

				<!-- <div class="likers-wrapper">
					likers go here
				</div> -->

			</section>

		</section>

<!-- 
<section class="explore-wrapper group">
<section class="user-songs explore" id="explore-left">
	<h1>All Songs(<%=Songstorm.songs.length%>): </h1>
	<ul class="user-song-list">
		<%Songstorm.songs.forEach(function (song) {%>
			<li>
				<img class="song-thumb" src="<%= song.escape("image_url") %>" width="100" alt="">
				<i class="fa fa-play" data-song-id="<%=song.id%>"></i>
				<a href="#/songs/<%=song.id%>"><%=song.escape('artist') +" - "+ song.escape('title')%></a>
			</li>
		<%})%>
	</ul>
</section>


<section class="user-songs explore" id="explore-right">
	<h1>Community(<%=Songstorm.users.length%>): </h1>
	<ul class="user-song-list" id="explore-users">
		<%Songstorm.users.forEach(function (user) {%>
			<li>
				<img class="song-thumb" src="<%= user.escape("image_url") %>" width="100" alt="">
				<a href="#/users/<%=user.id%>"><%=user.escape('username')%></a>
			</li>
		<%})%>
	</ul>
</section>
</section> -->