<h1 class="site-header">Welcome to Songstorm!</h1>

<section class="landing-text">
  <section class="preview-song group">
  <h1 id="landing-header">Featured Song:</h1>
    <img id="preview-image" src="<%=imageUrl%>">
    <ul class="preview-details">
      <li id="preview-title">
        <strong>
          <a class="create" href="#/songs/<%=songId%>">
            <%= songTitle %>
          </a>
        </strong>
        <i data-song-url="<%=songId%>" id="preview-play" class="fa fa-play"></i>
      </li>
      <li><strong>Artist:</strong> <%=songArtist%></li>
      <li><strong>Album:</strong> <%=songAlbum%></li>
    </ul>

  </section>

  <section class="preview-explore">
    <h1 class="preview-explore-header">Explore the site!</h1>
    <a href="#/search">
      <span class="explore-button">Explore</span>
    </a>
  </section>
</section>

<section class="landing-sign-in">
  <h1 class="sign-in-header">Sign In:</h1>
  <form class="user-sign-in">
    <label>
      <strong>Username:</strong>
      <input type="text" name="user[username]" value="">
    </label>

    <label>
      <strong>Password:</strong>
      <input type="password" name="user[password]" value="">
    </label>

  </form>

  <span class="sign-in-button">Login</span>
  <span class="sign-in-guest">Login As Guest</span>
</section>
