    <section id="lndg-welcome" >
    
      <div id="welcome">
        <h1 class="lndg-h1">Share music with the world</h1>
        <h1 class="lndg-h2">Discover music and artists</h1>

        <div class="lndg-explore-btn-wrapper">
          <a class="site-btn" href="#/search">Explore the world's songs</a>
        </div>

      </div>

    </section>

    <h1 id="featr-sg">Featured Song:</h1>

    <section class="song-item group" id="lndg-item">
    
      <div class="img-item" style="background-image:url(<%=imageUrl%>)" id="lndg-img">
        <div class="song-modal lndg-sample">
          <h1>Artist - Song</h1>
          <span class="play-btn">
            <i data-song-url="<%=songId%>" id="preview-play" class="fa fa-play"></i>
          </span>
        </div>
      </div>

      <h1><%=songTitle%></h1><br>
      <h1><%=songArtist%></h1><br>
      <h1><%=songAlbum%></h1><br>
      
      

    </section>