<div class="fave-container">
	<div class="img-item" style="background-image: url(<%=like.escape('song_image')%>)">
		<div class="song-modal lndg-sample">
			<span class="show-play-btn" id="faves-play-btn">
				<i class="fa fa-play" data-song-id="<%= like.escape('song_id') %>"></i>
			</span>
		</div>
	</div>

	<h1 class="fave-title"><a href="#/songs/<%= like.id %>" class="txt-hov"><%= like.escape('song_artist')%> - <%= like.escape('song_title')%></a></h1>

</div>