<li>
	<a href="#/users/<%= user.id %>">
		<img src="<%= user.escape('image_url') %>">
	</a>
	<div class="sg-pl-info">
		<a href="#/users/<%= user.id %>">
			<p><%= user.escape('username') %></p>
		</a>
		<p><i class="fa fa-music"></i>: <%= user.escape('num_songs') %></p>
	</div>
</li>