		<section class="show-content group">
			<section class="content-lt">
					

				<div class="show-comm group">
					<div class="upldr-wrapper">
						<h1 class="upldr-header">User</h1>
						<img class="upldr-img" src="<%= user.escape("image_url") %>">
						<p id="upldr-name"><%= user.escape("username") %></p>
						<p>Songs: <%= user.songs().length %></p>
						<p>Playlists: <%= user.playlists().length %></p>
					</div>

					<div class="cmts-wrapper">
						<h1 class="cmt-header"><i class="fa fa-music"></i> Songs (<%= user.songs().length %>)</h1>
						<ul class="cmts-display" id="user-songs">
							
						</ul>
						<h1 class="txt-hov" id="user-to-explore"><a href="#/search">Explore all songs >></a></h1>
					</div>
				</div>

			</section>

			<section class="content-rt" id="user-plst">

				<div class="plst-wrapper">
					<p id="user-plst-header">Playlists:</p>
					<ul class="in-plst" id="user-playlists">

					</ul>
					<h1 class="wgt-btn create-playlist"><i class="fa fa-plus"></i> Create playlist</h1>
				</div>

			</section>

		</section>