<% username = user.escape("username") %>
<h1> <%= username %>'s Show page </h1>

<br>

<h3> <%= username %>'s Songs: </h3>
<ul>
	<% user.songs().each(function (song) { %>
		<li> <a href="#/songs/<%= song.id %>"> <%=song.escape("title")  %></a> <button class="delete" data-id="<%= song.id %>" data-collection="songs">Delete</button></li>
	<% }) %>
</ul>



<br>

<h3> <%= username %>'s Playlists: </h3>
<ul>
  <% user.playlists().each(function (playlist) { %>
		<li> <a href="#/playlists/<%= playlist.id %>"><%=playlist.escape("name")  %></a><button class="delete" data-id="<%= playlist.id %>" data-collection="playlists">Delete</button> </li>
	<% }) %>
</ul>

<a href="/#/playlists/new">Create Playlist</a>
<a href="/#/songs/new">Create Song</a>
