<h1><%= link_to @song.uploader.username, user_url(@song.uploader) %>'s song</h1>

<h3> <%= @song.title %> </h3>
<ul>
  <li> Artist: <%= @song.artist %> </li>
  <li> Album: <%= @song.album %> </li>
</ul>

<br>
<%= render "playlist_songs/form", {song: @song}%>

<br>
<h4>Belongs to the following playlists:</h4>
<ul>
  <% @song.playlists.each do |playlist| %>
    <li>
      <%= link_to playlist.name, playlist_url(playlist) %>
    </li>
  <% end %>
</ul>

<h4>Comments</h4>
<ul>
  <% @song.comments.each do |comment| %>
    <% user = User.find(comment.user_id) %>
    <li> <%= comment.body %> - <%= link_to user.username, user_url(user) %> </li>
  <% end %>
</ul>

<%= render "comments/form", {commentable_type: "Song"}%>
