<li>
	<div class="sg-pl-info">
		<p class="pl-name"><a class="txt-hov" href="#/playlists/<%=playlist.id%>"><%=playlist.escape('name')%></a></p>
		<p><a href="#/users/<%=playlist.escape('user_id')%>"><%=playlist.escape('owner')%></p>
	</div>
	<a href="#/playlists/<%=playlist.id%>">
		<img class="pl-list-img" src="<%= playlist.escape("image_url") %>">
	</a>
</li>