<li>
	<div class="sg-pl-info">
		<p>
			<a href="#/playlists/<%= playlist.id %>">
				<%= playlist.escape("name") %>
			</a>
		</p>
		<p><i class="fa fa-music"></i>: <%= playlist.escape("num_pl_songs") %></p>
	</div>
	<a href="#/playlists/<%= playlist.id %>">
		<img src="<%= playlist.escape("image_url") %>">
	</a>
</li>