
<li class="sg-li group">
	<a href="#/songs/<%= song.id %>">
		<img class="sg-li-img" src="<%= song.escape("image_url") %>">
	</a>
<div class="play"><i class="fa fa-play" data-song-id="<%= song.id %>"></i></div>
<div class="sg-li-info">
	<div class="trk-num"> <%= trackNum %>. </div>
	<div class="trk-info"><span><%= song.escape("artist") %> -<a href="#/songs/<%= song.id %>">
	</span> <%= song.escape("title") %></a></div>

	<% if (parseInt(Songstorm.currentUser.id) === parseInt(playlist.escape("user_id"))) { %>
		<i class="fa fa-trash rmv-sg-btn" data-song-id="<%= song.id %>"> Remove</i>
	<% } %>
</div>
	<div class="trk-likes"><i class="fa fa-heart"></i> <%= song.escape("num_likes") %></div>
</li>