<div class="content-main group" id="song-main">

	<section class="page-left" id="song-page-left">
	
		<section class="song-show">
			<div class="song-stuff group">
				<img class="song-img" src="<%= playlist.escape("image_url") %>" width="100" alt="">
					<ul class="song-info">
						<li id="song-title"><%=playlist.escape('name')%></li>
						<li>Created by: <a class="create" href="#/users/<%=playlist.escape('user_id')%>"><%=playlist.escape('owner')%></a></li>
					</ul>
					<span class="create" id="play-queue">Play Queue!</span>
			</div>

			<div class="song-widgets-tab">
				<ul class="song-widgets">
					<% if (currUserId === uploader_id) { %>
						<li><a class="create" href="#/playlists/<%=playlist.id%>/edit">Edit</a></li>
						<li class="delete" id="delete-playlist">Delete</li>
					<% } %>
				</ul>
			</div>
			
		</section>


		<section class="comments-section">

				<ul class="comments-display" id="song-list-display">

				</ul>

		</section>
	</section>

	<section class="page-right" id="song-page-left">


		<section class="playlists-section">
			<h2 id="playlist-owner"><img class="song-thumb" src="<%= playlist.escape("owner_image") %>" width="100" alt="">More From <a class="create" href="#/users/<%=uploader.id%>"><%= uploader.escape('username')%></a></h2>
			<ul class="songs-playlists">
			
			</ul>
		</section>
	</section>

</div>


