<div class="content-main group" id="song-main">

	<section class="page-left" id="song-page-left">
	
		<section class="song-show">
			<div class="song-stuff group">
				<div class="song-img"></div>
					<ul class="song-info">
						<li id="song-title"><%=playlist.escape('name')%></li>
					</ul>
					<span class="waveform" id="show-waveform">BLAHBLAH WAVEFORM</span>
			</div>

			<div class="song-widgets-tab">
				<ul class="song-widgets">
					<li>Like</li>
					<% if (currUserId === uploader_id) { %>
						<li><a href="#/playlists/<%=playlist.id%>/edit">Edit</a></li>
						<li>Delete</li>
					<% } %>

				</ul>
			</div>
			
		</section>


		<section class="comments-section">

				<ul class="comments-display" id="song-list-display">
					<%playlist.songs().forEach(function(song){%>
						<li>
							<div class="song-thumb" id="playlist-thumb"></div>
							<i class="fa fa-play" data-song-url="<%=song.escape('audio_url')%>"></i>
							<a href="#/songs/<%=song.id%>"><%=song.escape('artist')+" - "+song.escape('title')%></a>
							<span class="waveform">BLAHBLAHBLAH Waveform</span>
							<% if (currUserId === uploader_id) { %>
								<span class="remove-button" data-song-id=<%=song.id%>>Remove</span>
							<% } %>
						</li>
					<%})%>

					<%if (playlist.songs().length === 0) {%>
						<li>You don't have any songs in this list!</li>
					<%}%>
				</ul>

		</section>
	</section>

	<section class="page-right" id="song-page-left">


		<section class="playlists-section">
			<h2 id="playlist-owner"><div class="song-thumb"></div>More From <a href="#/users/<%=uploader.id%>"><%= uploader.escape('username')%></a></h2>
			<ul class="songs-playlists">
			<%uploader.playlists().forEach(function(list){%>
				<%if (playlist.escape('name') !== list.escape('name')) {%>
					<li class="playlist-li">
						<div class="song-thumb"></div>
						<h1>
					    <a href="#/playlists/<%=list.id%>"><%=list.escape('name')%></a>
						</h1>
					</li>

			<%}%>
			<%})%>
				
			</ul>
		</section>
	</section>

</div>


