<h1 class="playlist-title"><%= playlist.escape("name") %></h1>

<div class="content-main playlists">

<h2>Songs:</h2>
<ul class="playlists-songs">
	<% playlist.songs().each(function (song) { %>
		<li>
			<a href="#/songs/<%= song.id %>"><%=song.escape("title")  %></a>
			<audio src="<%= song.escape('audio_url') %>" controls></audio>
		</li>
	<% }) %>
</ul>
</div>
<a href="#/playlists/<%= playlist.id %>/edit">Edit Playlist</a>
