		<section class="show-banner song-sb group">
			<img src="<%= song.escape("image_url") %>">
			<p class="banner-info song-info artist-info"><%= song.escape("artist") %></p>
			<span class="other-info">
				<span> <%= song.escape("days_ago") %> days ago </span>
				<!-- <span> 3 <i class="fa fa-heart"></i> </span> -->
			</span>
			<br>
			<p class="banner-info song-info title-info"><%= song.escape("title") %></p>
			<br>
			<span class="banner-info show-play-btn">
				<i class="fa fa-play"></i>
			</span>

		</section>

		<section class="show-content group">
				<div class="wgt-wrapper group">
					<span class='wgt-btn' id="add-pl-btn"><i class='fa fa-bars'></i>Add to playlist</span>
					<span id="num-likes"> <%= song.escape("num_likes") %> <i class="fa fa-heart"></i></span>
				</div>
			<section class="content-lt">

				<div class="cmt-sbmt-wrapper">
					<!-- <img src="images/img1.jpg"> -->
					<div class="cmt-sbmt">
						<form id="cmts-form">
							<input type="hidden" class="song_id" name="song_id" value="<%= song.id %>">
							<input class="cmt-text" type="text" placeholder="Leave a comment..." val="">
						</form>
						<!-- <div id="special"></div> -->
					</div>
					<div class="sbmt-btn" id="cmt-submit-btn">
						Submit
					</div>
				</div>

				<div class="show-comm group">
					<div class="upldr-wrapper">
						<h1 class="upldr-header">Uploader</h1>
						<img class="upldr-img" src="<%= song.escape("uploader_img") %>">
						<p id="upldr-name">
							<a href="#/users/<%= song.escape("uploader_id") %>"><%= song.escape("uploader_name") %></a>
						</p>
						<p>Songs: <%= song.escape("uploader_num_songs") %></p>
						<p>Playlists: <%= song.escape("uploader_num_playlists") %></p>
					</div>

					<div class="cmts-wrapper">
						<h1 class="cmt-header"><i class="fa fa-comment-o"></i> Comments (<%= song.comments().length %>)</h1>
						<ul class="cmts-display">

						</ul>
					</div>
				</div>

			</section>

			<section class="content-rt">

				<div class="plst-wrapper">
					<p id="in-plst-header">In playlists:</p>
					<ul class="in-plst">
						
					</ul>
				</div>

				<!-- <div class="likers-wrapper">
					likers go here
				</div> -->

			</section>

		</section>

<!-- <div class="content-main group" id="song-main">

	<section class="page-left" id="song-page-left">
	
		<section class="song-show">
			<div class="song-stuff group">
				<img class="song-img" src="<%= song.escape("image_url") %>" width="100" alt="">
					<ul class="song-info">
					</ul>
			</div>

			<div class="song-widgets-tab">
				<ul class="song-widgets">
					<% if (Songstorm.currentUser.isSignedIn()) { %>
						<%if (song.escape('liked_by_current_user') === "false") {%>
							<li class="add-like create">Like</li>
						<%} else {%>
							<li class="remove-like create">Unlike</li>
						<%}%>
						<% if (currUserId === uploader_id) { %>
							<li><a class="create" href="#/songs/<%=song.id%>/edit">Edit</a></li>
							<li class="delete" id="delete-song">Delete</li>
						<% } %>
					<% } %>
				</ul>
			</div>
			
		</section>


		<section class="comments-section">

				<form class="comments-form group">
				  <input type="hidden" class="song_id" name="song_id" value="<%= song.id %>">
			    <textarea class="comment_body" name="body" placeholder="comment here"></textarea>
				  <span class="comment-submit create">Submit</span>
				</form>

					<ul class="comments-display">

					</ul>

		</section>
	</section>

	<section class="page-right" id="song-page-left">

			<section class="playlists-section" id="playlist-song-form">
				<form class="playlist-form">
					<input type="hidden" name="" value="">
					<span id="add-playlist-form">Add To Playlist</span>
						<select id="playlist-song-playlist-id">

						</select>
						<strong>
							<span class="create" id="add-playlist">Add</span>
						</strong>
				</form>
			</section>


		<section class="playlists-section">
			<h2>Playlists With This Song</h2>
			<ul class="songs-playlists">
				
			</ul>
		</section>
	</section>

</div>




 -->