<h3>This is a <strong>SONG</strong> show page test</h1>
<br>
<h3>Title: <%= song.escape("title") %></h3>
<h3>Artist: <%= song.escape("artist") %></h3>
<h3>Song: <%= song.escape("album") %></h3>
<br>
<h2>Belongs to the following playlists:</h2>
<% song.playlists().each(function (playlist) { %>
	<h4><strong>Playlist: <a href="#/playlists/<%= playlist.id %>"><%=playlist.escape("name")  %></a></strong></h4>	<button class="remove_playlist" data-id="<%= playlist.id %>">Remove from playlist</button>

<% }) %>

<br>
<h2>Add to a playlist:</h2>

<form>

  <input type="hidden" name="" value="">

  <label>Playlist
    <select id="playlist_song_playlist_id">
      <% playlists = Songstorm.playlists %>
      <% playlists.each(function (playlist){ %>
        <option value="<%= playlist.id %>"><%= playlist.escape("name") %></option>
      <% }) %>
    </select>
  </label>

  <input class="add_playlist" type="submit" value="Add to playlist">
</form>


<h2>Comments:</h2>
<% song.comments().each(function (comment) { %>
  <li><%= comment.body %></li>
<% }) %>

<h2>Add a comment:</h2>
<form>

  <input type="hidden" name="song_id" value="<%= song.id %>">

  <label>Body
    <input type="textarea" name="body" value="">
  </label>

  <input class="add_comment" type="submit" value="Submit Comment">
</form>

<a href="#/songs/<%= song.id %>/edit">Edit Song</a>
