<div class="content-main group" id="song-main">

	<section class="page-left" id="song-page-left">
	
		<section class="song-show">
			<div class="song-stuff group">
				<img class="song-img" src="<%= song.escape("image_url") %>" width="100" alt="">
					<ul class="song-info">
						<li id="song-title"><%=song.escape('title')%></li>
						<li><%=song.escape('artist')%></li>
						<li><%=song.escape('album')%></li>
					</ul>
					<span class="waveform" id="show-waveform">BLAHBLAH WAVEFORM</span>
			</div>

			<div class="song-widgets-tab">
				<ul class="song-widgets">
					<li>Like</li>
					<% if (currUserId === uploader_id) { %>
						<li><a href="#/songs/<%=song.id%>/edit">Edit</a></li>
						<li>Delete</li>
					<% } %>
				</ul>
			</div>
			
		</section>


		<section class="comments-section">

				<form class="comments-form group">
				  <input type="hidden" class="song_id" name="song_id" value="<%= song.id %>">
			    <textarea class="comment_body" name="body" placeholder="comment here"></textarea>
				  <span class="comment-submit">Submit</span>
				</form>

				<ul class="comments-display">
					<%song.comments().forEach(function(comment){%>
						<li class="comment">
							<img class="song-thumb" src="<%= comment.escape("author_image") %>" width="100" alt="">
							<h1>
								<a href="#/users/<%= comment.escape('user_id') %>"><%= comment.escape('author')%></a>
							</h1>
							<h2>
								<%= comment.escape('body') %>
							</h2>
							<% if (currUserId === parseInt(comment.escape('user_id'))) { %>
								<span class="delete-comment" data-id="<%= comment.id %>">DELETE</span>
							<% } %>
						</li>
					<%})%>

	<!-- 				<li class="comment">
						<div class="song-thumb"></div>
						<h1>
							<a href="#">Username</a>
						</h1>
						<h2>
							PearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPear
						</h2>
						<span class="delete-comment">DELETE</span>
					</li> -->
				</ul>

		</section>
	</section>

	<section class="page-right" id="song-page-left">

		<section class="playlists-section">
			<form class="playlist-form">
				<input type="hidden" name="" value="">
				<span>Add To Playlist</span>
					<select id="playlist-song-playlist-id">
							<%Songstorm.playlists.forEach(function(playlist){%>
								<option value="<%=playlist.id%>"><%=playlist.escape('name')%></option>
							<%})%>
					</select>
					<span id="add-playlist">Add</span>
			</form>
		</section>

		<section class="playlists-section">
			<h2>Playlists With This Song</h2>
			<ul class="songs-playlists">
				<% song.playlists().forEach(function(playlist){ %>
					<li class="playlist-li">
						<img class="song-thumb" src="<%= playlist.escape("image_url") %>" width="100" alt="">
						<h1>
					    <a href="#/playlists/<%=playlist.id%>"><%=playlist.escape('name')%></a>
						</h1>
						<h2>
					    By: <a href="#/users/<%=playlist.escape('user_id')%>"><%=playlist.escape('owner')%></a>
						</h2>
					</li>
				<% }) %>
			</ul>
		</section>
	</section>

</div>




