<h1> <%= link_to @playlist.user.username, user_url(@playlist.user_id) %>'s Playlist Show Page</h1>
<br>
<h3> <%= @playlist.name %> </h3>

<h4>Has the following songs:</h4>
<ul>
  <% @playlist.songs.each do |song| %>
    <li>
      <% p_song = PlaylistSong.find_by({song_id:song.id, playlist_id:@playlist.id}) %>
      <%= link_to song.title, song_url(song) %> - <%= button_to "Remove from list", playlist_song_url(p_song), method: :delete%>
    </li>
  <% end %>
</ul>

<h3>Comments</h3>
<% @playlist.comments.each do |comment| %>
  <% user = User.find(comment.user_id) %>
  <li><%= comment.body %> - <%= link_to user.username, user_url(user) %></li>
<% end %>
<%= render "comments/form", {commentable_type: "Playlist"} %>
