<!DOCTYPE html>
<html>
<head>
  <title>Songstorm</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="header group">
    <nav class="header-nav group">
      <% if signed_in? %>
        <% user_home = "/#/users/#{current_user.id}" %>
        <h1>
          <a href=<%= user_home %>>Songstorm</a>
        </h1>
      <% else %>
        <% non_user_home = "/session/new" %>
        <h1>
          <a href=<%= new_session_url %>>Songstorm</a>
        </h1>
      <% end %>

      <ul class="group">
        <% if signed_in? %>
          <li>
            <a href="#/songs/new">Upload</a>
          </li>
          <li>
            <%= link_to "Home", "/#/users/#{current_user.id}" %>
          </li>
          <li>
              <form class="sign_out" action="<%= session_url %>" method="post">
                <%= auth_token_input %>
                <input name="_method" type="hidden" value="delete">
                <input type="submit" value="Sign Out">
              </form>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign In", new_session_url %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_url %>
          </li>
        <% end %>

      </ul>
    </nav>
  </header>

  <%= yield %>

  <footer class="footer group">
    <small class="footer-copy">
      &copy; 20X6 Sai K. Inc...I Have Laywers
    </small>
    <ul class="footer-links group">
      <% if signed_in? %>
        <li><a href="/#/users/<%= current_user.id %>">Home</a></li>
      <% else %>
        <li><%= link_to "Home", new_session_url %></li>
      <% end %>
      <li><a href="#">About</a></li>
      <li><a href="#">Privacy(jk it's a myth)</a></li>
    </ul>
  </footer>
</body>
</html>
